<!-- Footer -->
<footer class="bg--dark footer-1 text-center-xs">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-8">
          <ul class="footer__navigation">
            {% for item in site.menus.footer %}
              <li class="menu-item-{{ forloop.index }}">
                <a href="{{ item.url }}" title="Anar a {{ item.title }}" target="_self">
                  <span>{{ item.title }}</span>
                </a>
              </li>
            {% endfor %}
          </ul>
      </div>
      <div class="col-md-6 col-sm-12 a1-subscription">
          <h6>VOLS REBRE INFORMACIÓ?</h6>
          <p>Si vols estar al dia de les nostres activitats i dels avenços del projecte, subscriu-te!</p>
          <form action="http://mrareco.createsend.com/t/d/s/kieth/?callback=??callback=??callback=??callback=??callback=??callback=?" class="form--merge form--no-labels form--active" data-error="Has d'omplir el camp amb el format correcte" data-success="Gràcies!" id="subForm" method="post" name="subForm" novalidate="novalidate">
              <br>
              <input class="col-md-8 col-sm-6 validate-required validate-email" id="fieldEmail" name="cm-kieth-kieth" type="email" placeholder="nom@domini.cat">
              <button type="submit" class="btn">Enviar</button>
          </form>
      </div>
      <div class="col-md-3 col-sm-4 a1-license">
            <p>
              <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.ca" target="_blank">Continguts sota llicencia CC<br>Reconeixement - NoComercial - CompartirIgual 4.0</a>
            </p>
            <img alt="Llicència CC BY-NC-SA 4.0 Internacional" class="" src="https://licensebuttons.net/l/by-nc-sa/4.0/88x31.png">
      </div>
      </div>
      <div class="row footer__lower text-center-xs">
      <div class="col-sm-12">
          <hr>
      </div>
      <div class="col-sm-6">
          <span class="type--fine-print">© 2017 <a href="https:www.adabits.org" target="_blank">Adab1ts</a>. Crafted lovingly in Barri de Sants, Barcelona.</span>
      </div>
      <div class="col-sm-6 text-right text-center-xs">
          <ul class="social-list">
              <li>
                  <a href="https://twitter.com/{{ site.twitter_username }}"><i class="socicon-twitter"></i></a>
              </li>
              <li>
                  <a href="mailto:{{ site.email }}"><i class="socicon-mail"></i></a>
              </li>
          </ul>
      </div>
    </div>
  </div>
</footer>
