<!-- Styles -->
    <link href="{{ site.baseurl }}/{{ site.theme_styles_path }}/socicon.css" rel="stylesheet" type="text/css" media="all">
    <link href="{{ site.baseurl }}/{{ site.theme_styles_path }}/iconsmind.css" rel="stylesheet" type="text/css" media="all" />
    <link href="{{ site.baseurl }}/{{ site.theme_styles_path }}/owl.carousel.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="{{ site.baseurl }}/{{ site.theme_styles_path }}/theme-deepred.css" rel="stylesheet" type="text/css" media="all"/>

    <link href="/vendor/bootstrap.css" rel="stylesheet" type="text/css" media="all"/>

    <link href="/assets/main.css" rel="stylesheet" type="text/css" media="all"/>

<!-- Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Lora:400,400italic,700|Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600%7CSource+Sans+Pro:400,600,400italic" rel="stylesheet" type="text/css">
    <link href="{{ site.baseurl }}/{{ site.theme_styles_path }}/font-poppinssourcesanspro.css" rel="stylesheet" type="text/css">
