<!-- SEO -->

    <!-- Facebook Open Graph -->
    <meta property="og:site_name" content="{{ site.title | escape }}">
    <meta property="og:title" content="{{ site.title | escape }}">
    <meta property="og:url" content="{{ page.url }}">
    <meta property="og:description" content="{{ site.description | escape }}">
    <meta property="og:image" content="{{ site.baseurl }}/{{ site.images_path }}/arcadia-twitter-card.jpg">
    <meta property="og:type" content="website">

    <!-- Twitter Card -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@EscolaArcadia">
    <meta name="twitter:title" content="{{ site.title | escape }}">
    <meta name="twitter:description" content="{{ site.description | escape }}">
    <meta name="twitter:image" content="{{ site.baseurl }}/{{ site.images_path }}/arcadia-twitter-card.jpg">
    <meta name="twitter:image:alt" content="Escola Arcàdia">
    <meta name="twitter:url" content="{{ page.url }}" />
