<!-- Navigation -->
<div class="nav-container">
  <nav>
    <div class="nav-bar" data-fixed-at="700">
        <div class="nav-module logo-module left">
            <a href="{{ site.baseurl }}{% link index.md %}">
              <div class="vnu">
                <img alt="logo" class="logo logo-dark" src="{{ site.baseurl }}/{{ site.images_path }}/Arcadia_Logo_OK_color.png">
              </div>
              <img alt="logo" class="logo logo-light" src="{{ site.baseurl }}/{{ site.images_path }}/Arcadia_Logo_OK_color.png">
            </a>
        </div>
        <div class="nav-module menu-module left">
          <ul class="menu">
            {% for item in site.menus.header %}
              <li class="menu-item-{{ forloop.index }}">
                <a href="{{ item.url }}" title="Anar a {{ item.title }}" target="_self">{{ item.title }}</a>
                {% if item.children %}
                  <ul class="make-right">
                  {% for item in item.children %}
                    <li class="menu-item-{{ loop.index }}">
                      <a href="{{ item.url }}" title="Anar a {{ item.title }}">{{ item.title }}</a>
                    </li>
                  {% endfor %}
                  </ul>
                {% endif %}
              </li>
            {% endfor %}
          </ul>
        </div>
    </div>
    <div class="nav-mobile-toggle visible-sm visible-xs">
      <i class="icon-Align-JustifyAll icon icon--sm"></i>
    </div>
  </nav>
</div>
