<!-- Image block -->
{% assign imageblocks = site.imageblocks | sort: 'order' %}
{% for item in imageblocks %}
{% if item.pagina == page.layout %}
  <section class="imageblock about-1">
    {% capture thecycle %}{% cycle 'odd', 'even' %}{% endcapture %}
    {% if thecycle == 'odd' %}
      <div class="imageblock__content col-md-6 col-sm-4 pos-left">
        <div class="background-image-holder">
            <img alt="{{ item.img-alt }}" src="/assets/img/{{ item.block-image }}">
        </div>
      </div>
      <div class="container">
          <div class="row">
              <div class="col-md-5 col-md-push-7 col-sm-8 col-sm-push-4">
                  <h4>{{ item.title }}</h4>
                  {{ item.content }}
              </div>
          </div>
      </div>
    {% else %}
      <div class="imageblock__content col-md-6 col-sm-4 pos-right">
        <div class="background-image-holder">
          <img alt="{{ item.img-alt }}" src="/assets/img/{{ item.block-image }}">
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-5 col-sm-8">
            <h4>{{ item.title }}</h4>
            <p>{{ item.content }}
            </p>
          </div>
        </div>
      </div>
    {% endif %}
  </section>
{% endif %}
{% endfor %}
