<!-- Styles -->
    <link href="/assets/css/pillar/socicon.css" rel="stylesheet" type="text/css" media="all">
    <link href="/assets/css/pillar/iconsmind.css" rel="stylesheet" type="text/css" media="all" />
    <link href="vendor/bootstrap.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="/assets/css/pillar/interface-icons.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="/assets/css/pillar/owl.carousel.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="/assets/css/pillar/theme-deepred.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="/assets/main.css" rel="stylesheet" type="text/css" media="all"/>
    <link href='https://fonts.googleapis.com/css?family=Lora:400,400italic,700|Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600%7CSource+Sans+Pro:400,600,400italic" rel="stylesheet" type="text/css">
    <link href="/assets/css/pillar/font-poppinssourcesanspro.css" rel="stylesheet" type="text/css">
