
@import "variables.scss";

/***************************
  Site custom styles below
****************************/

// Overrides

.height-70 .background-image-holder {
  clip-path: url(img/dibuix.svg#header);
  clip-path: ellipse(100% 70% at 50% 30%);
}

section.height-70[data-overlay]:before
 {
  background: $secondary-color;
  clip-path: url(img/dibuix.svg#header);
  clip-path: ellipse(100% 70% at 19% 30%);
}

.lila .height-70[data-overlay]:before {
  background: rgb(93, 0, 186);
  clip-path: url(img/dibuix.svg#header);
  clip-path: ellipse(100% 70% at 19% 30%);
 /* Old Browsers */background: -moz-linear-gradient(-45deg, rgba(184,0,0,1) 0%, rgba(184,0,0,1) 12%, rgba(71,1,63,1) 66%, rgba(71,1,63,1) 100%);
 /* FF3.6+ */background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(184,0,0,1)), color-stop(12%, rgba(184,0,0,1)), color-stop(66%, rgba(71,1,63,1)), color-stop(100%, rgba(71,1,63,1)));
 /* Chrome, Safari4+ */background: -webkit-linear-gradient(-45deg, rgba(184,0,0,1) 0%, rgba(184,0,0,1) 12%, rgba(71,1,63,1) 66%, rgba(71,1,63,1) 100%);
 /* Chrome10+,Safari5.1+ */background: -o-linear-gradient(-45deg, rgba(184,0,0,1) 0%, rgba(184,0,0,1) 12%, rgba(71,1,63,1) 66%, rgba(71,1,63,1) 100%);
 /* Opera 11.10+ */background: -ms-linear-gradient(-45deg, rgba(184,0,0,1) 0%, rgba(184,0,0,1) 12%, rgba(71,1,63,1) 66%, rgba(71,1,63,1) 100%);
 /* IE 10+ */background: linear-gradient(135deg, rgba(184,0,0,1) 0%, rgba(184,0,0,1) 12%, rgba(71,1,63,1) 66%, rgba(71,1,63,1) 100%);
/* W3C */filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b80000', endColorstr='#47013f', GradientType=1 );
/* IE6-9 fallback on horizontal gradient */
}

.verd .height-70[data-overlay]:before
 {
  background: rgb(82, 190, 7);
  clip-path: ellipse(100% 70% at 19% 30%);
}






@media all and (min-width: 767px) {
  .about-1 .pos-left .background-image-holder {
    -webkit-clip-path: ellipse(60% 150% at 40% 0%);
    clip-path: ellipse(60% 150% at 40% 0%);
  }
}

@media all and (min-width: 767px) {
  .about-1 .pos-right .background-image-holder {
    -webkit-clip-path: ellipse(60% 150% at 60% 100%);
    clip-path: ellipse(60% 150% at 60% 100%);
  }
}


// .stats-1 .feature {
//   border-radius: 3em;
// }

.lila h4,
.lila .h4 {
  color: #5d00ba;
}
.lila h5,
.lila .h5 {
  color: rgb(93, 0, 186);
}

h2,
.h2 {
  color: #7cc36a;
}
h3,
.h3 {

}
h4,
.h4 {
  color: #bb4242;
}

.avatar {
  border-radius: 50%;
  max-width: 50%;
  max-height: auto;
}
