//  Site custom variables


// Gray and Brand Colors for use across theme

$primary-color: rgb(0, 128, 76);
$secondary-color: #a10000;
$secondary-dark: #910029;
$line-color: #e3e3e3;
$border-color: #e3e3e3;
$background-grey: #f7f7f7;

$text-color: #777;

$placeholder-color: #bbb;

$primary-font-family: 'Roboto', Helvetica, Arial, sans-serif;
$secondary-font-family: 'Lora', serif;
$menu-font-family: 'Montserrat','Helvetica Neue', Helvetica, Arial, sans-serif;
