<!-- Contact info -->
<section class="features features-10">
		                <div class="feature bg--white col-md-4 text-center">
		                    <i class="icon icon--lg icon-Map-Marker2"></i>
		                    <h4>Can Batlló</h4>
		                    <p>Carrer de la Constitució, 25, 08014 Barcelona</p>
		                </div>
		                <div class="feature bg--secondary col-md-4 text-center">
		                    <i class="icon icon--lg icon-Phone-2"></i>
		                    <h4>Truca'ns</h4>
		                    <p>
		                        Espai Obert: (dijous) 9283 2617
		                        <br> Fax: +61 3827 3590
		                    </p>
		                </div>
		                <div class="feature bg--dark col-md-4 text-center">
		                    <i class="icon icon--lg icon-Computer"></i>
		                    <h4>Arcàdia online</h4>
		                    <p>
		                        Email: arcadiacanbatllo@gmail.com<br> Twitter:
		                        <a href="#">@e</a>scolaarcadia</p>
		                </div>
</section>
