//  Site custom variables


// Brand Colors for use across theme

$primary-color: rgba(184,0,0,1); //#b80000
$secondary-color: rgba(82,190,7,1); //#52be07
$tertiary-color: rgba(71,1,63,1); //#47013f
$line-color: #e3e3e3;
$border-color: #e3e3e3;
$background-grey: #212121;

$text-color: #777;

$placeholder-color: #bbb;

$primary-font-family: 'Roboto', Helvetica, Arial, sans-serif;
$secondary-font-family: 'Lora', serif;
$menu-font-family: 'Montserrat','Helvetica Neue', Helvetica, Arial, sans-serif;
