---
layout: default
---
<div class="main-container lila">
<section class="cover height-70 imagebg bg--secondary" data-overlay="4">

                <div class="background-image-holder">
                    <img alt="background" src="img/photos/Presentacio.jpg">
                </div>
                <div class="container pos-vertical-center">
                    <div class="row">
                        <div class="col-sm-6">
                            <h1>{{ page.title }}</h1>
                        </div>
                    </div>

                </div>

            </section><section class="stats-1 bg--secondary">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <h4>L'arcàdia en 6 conceptes</h4>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-4">
                            <div class="feature feature-1 text-center boxed boxed--lg">
                                <i class="icon color--primary icon-Bodybuilding icon--lg"></i>
                                <h3>Autogestió</h3>
                                <span>
                                    <em>Cooperativisme autogestionari</em>
                                </span>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="feature feature-1 text-center boxed boxed--lg">
                                <i class="icon color--primary icon-Pencil-Ruler icon--lg"></i>
                                <h3>Educació Integral</h3>
                                <span>
                                    <em>Educació Integral</em>
                                </span>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="feature feature-1 text-center boxed boxed--lg">
                                <i class="icon icon--lg icon-Thumbs-UpSmiley color--primary"></i>
                                <h3>Llibertat responsable</h3>
                                <span>
                                    <em>Llibertat&nbsp;</em>
                                </span>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="feature feature-1 text-center boxed boxed--lg">
                                <i class="icon color--primary icon-Aim icon--lg"></i>
                                <h3>Solidaritat</h3>
                                <span>
                                    <em>Missed meetings</em>
                                </span>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="feature feature-1 text-center boxed boxed--lg">
                                <i class="icon color--primary icon-Equalizer icon--lg"></i>
                                <h3>Equitat</h3>
                                <span>
                                    <em>Sharpies exhausted</em>
                                </span>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="feature feature-1 text-center boxed boxed--lg">
                                <i class="icon color--primary icon-Hands icon--lg"></i>
                                <h3>Cooperació</h3>
                                <span>
                                    <em>Resident DJ</em>
                                </span>
                            </div>
                        </div>
                    </div>

                </div>

            </section><section class="imageblock about-1">
                <div class="imageblock__content col-md-6 col-sm-4 pos-left">
                    <div class="background-image-holder">
                        <img alt="image" src="img/photos/psicomotricidad.jpg">
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-5 col-md-push-7 col-sm-8 col-sm-push-4">
                            <h4>Un model educatiu basat en la llibertat responsable</h4>
                            <p>
                                Apoyo mutuo, solidaridad, libertad, igualdad ético colectiva, dignidad, responsabilidad, participación, compromiso, decisión colectiva, sinceridad, autonomia, derechos y obligaciones, respeto ...
                            </p>
                            <p>En el espacio de aprendizaje de Arcadia  los niños y niñas  seran completamente libres para jugar en todo lo que les gusta, ya que consideramos el juego creativo e imaginativo como una parte esencial de la infancia y desarrollo integral del niño y niña. El juego espontáneo y natural no debe ser socavada o redirigida por los adultos en una " experiencia de aprendizaje " vital para los niños/as. <br>
                            </p>
                        </div>
                    </div>

                </div>

            </section><section class="imageblock about-1">
                <div class="imageblock__content col-md-6 col-sm-4 pos-right">
                    <div class="background-image-holder">
                        <img alt="image" src="img/photos/034Escola Arcadia.jpg">
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-5 col-sm-8">
                            <h4>Cooperativisme autogestionari</h4>
                            <p>
                                Associació autònoma de persones unides voluntàriament per satisfer les seves necessitats i aspiracions econòmiques, socials i culturals en comú, a través d’una empresa de propietat conjunta i gestió democràtica.
                            </p>
                            <p>
                                Arcádia se organiza a  pratir de la Asamblea y las cooperativas escolares, en donde los niños y niñas apreneran a gestionar sus vidas de manera autónoma y participativa, haciendose responsables de las decisiones que libremente han acordado.
                            </p>
                        </div>
                    </div>

                </div>

            </section><section class="imageblock about-1">
                <div class="imageblock__content col-md-6 col-sm-4 pos-left">
                    <div class="background-image-holder">
                        <img alt="image" src="img/photos/building-blocks.jpg">
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-5 col-md-push-7 col-sm-8 col-sm-push-4">
                            <h4>Educació integral</h4>
                            <p>
                                Entenem l’educació integral com aquella educació que possibilita la unitat en tots els aspectes de la vida.
                            </p>
                            <p>
                                En Arcádia se permitira que los niños esten libres de evaluación (obligatoria o impuesta) para poder así desarrollar sus propios objetivos y sentido del logro. Los niños y niñas estarán libres de la presión para ajustarse a las normas artificiales de éxito basado en las teorías predominantes de aprendizaje de los niños y logros académicos. La evaluación se basará en una hoja informativa de cualidades y valores.
                            </p>
                        </div>
                    </div>

                </div>

            </section><section class="imageblock about-1">
                <div class="imageblock__content col-md-6 col-sm-4 pos-right">
                    <div class="background-image-holder">
                        <img alt="image" src="img/photos/escola-nova.jpg">
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-5 col-sm-8">
                            <h4>Equitat&nbsp;</h4>
                            <p>
                                Des d'una perspectiva ètica, la qualitat educativa i l'equitat són conceptes indissociables i condicions mútuament necessàries.
                            </p>
                            <p>
                                El proyecto de cooperativa Arcadia tiene como objetivo impulsar un espacio de aprendizaje que fomente personas autonomas con mentes críticas y flexibles, proporcionando a los niños y niñas las opciones y oportunidades que permiten desarrollar su propio ritmo de aprendizaje y seguir sus propios intereses, así como proporcionar un entorno en el que los niños y niñas pueden definir quiénes son y lo que quieren ser.
                            </p>
                        </div>
                    </div>

                </div>

            </section></div>
            
