---
layout: default
---
<section class="stats-1 bg--secondary">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <h4>L'arcàdia en 6 conceptes</h4>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-4">
                            <div class="feature feature-1 text-center boxed boxed--lg">
                                <i class="icon color--primary icon-Bodybuilding icon--lg"></i>
                                <h3>Autogestió</h3>
                                <span>
                                    <em>Cooperativisme autogestionari</em>
                                </span>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="feature feature-1 text-center boxed boxed--lg">
                                <i class="icon color--primary icon-Pencil-Ruler icon--lg"></i>
                                <h3>Educació Integral</h3>
                                <span>
                                    <em>Educació Integral</em>
                                </span>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="feature feature-1 text-center boxed boxed--lg">
                                <i class="icon icon--lg icon-Thumbs-UpSmiley color--primary"></i>
                                <h3>Llibertat responsable</h3>
                                <span>
                                    <em>Llibertat&nbsp;</em>
                                </span>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="feature feature-1 text-center boxed boxed--lg">
                                <i class="icon color--primary icon-Aim icon--lg"></i>
                                <h3>Solidaritat</h3>
                                <span>
                                    <em>Missed meetings</em>
                                </span>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="feature feature-1 text-center boxed boxed--lg">
                                <i class="icon color--primary icon-Equalizer icon--lg"></i>
                                <h3>Equitat</h3>
                                <span>
                                    <em>Sharpies exhausted</em>
                                </span>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="feature feature-1 text-center boxed boxed--lg">
                                <i class="icon color--primary icon-Hands icon--lg"></i>
                                <h3>Cooperació</h3>
                                <span>
                                    <em>Resident DJ</em>
                                </span>
                            </div>
                        </div>
                    </div>

                </div>

            </section>
{% include image-bloc.html %}
