---
layout: default
---


<section class="height-40">
    <div class="container pos-vertical-center">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h2>Projecte arquitectònic a Can Batlló</h2>
                <span>
		                                <em>Realització prevista per febrer del 2019</em>
		                            </span>
            </div>
        </div>

    </div>

</section>
<section class="bg--secondary imageblock features features-12">
    <div class="imageblock__content col-md-4 col-sm-3 pos-left">
        <div class="background-image-holder">
            <img alt="image" src="img/photos/planols03.jpg">
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-7 col-md-push-5 col-sm-8 col-sm-push-4">
                <h4>PROGRAMA</h4>
                <p class="lead">L'estudi del programa realitzat per la cooperativa d'arquitectes LaCol segueix la normativa d'aplicació per centres que imparteixen educació infantil, primària i secundària RD132/2010.</p>
                <div class="feature col-sm-6">
                    <h5>ESCALA</h5>
                    <p>
                        With well over 100 total included pages, over 150 content blocks and a ton of pre-design homepage layouts, Pillar comes ready for your project.
                    </p>
                </div>
                <div class="feature col-sm-6">
                    <h5>FASES</h5>
                    <p>
                        Our much-loved, timely support comes included with each purchase of Pillar. Access personal support and articles via our dedicated support forum.
                    </p>
                </div>
            </div>
            <div class="col-md-7 col-md-push-5 col-sm-8 col-sm-push-4">
                <h4>Com serà l'Arcàdia</h4>
                <p class="lead">La distribució del prgrama busca situar al centre de l'escola els espais comuns de dia... estudi del programa realitzat per la cooperativa d'arquitectes LaCol segueix la normativa d'aplicació per centres que imparteixen educació infantil,
                    primària i secundària RD132/2010.</p>
                <div class="feature col-sm-6">
                    <h5>PATI&nbsp;</h5>
                    <p>
                        Our much-loved, timely support comes included with each purchase of Pillar. With well over 100 total included pages, over 150 content blocks and a ton of pre-design homepage layouts, Pillar comes ready for your project.
                    </p>
                </div>
                <div class="feature col-sm-6">
                    <h5>MENJADOR + CUINA</h5>
                    <p>
                        Access personal support and articles via our dedicated support forum. Our much-loved, timely support comes included with each purchase of Pillar. Access personal support and articles via our dedicated support forum.
                    </p>
                </div>
            </div>
        </div>

    </div>

</section>

{% include vertical-card.html %}

<section>
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <h5>FASE 1. <br>CENTRE EDUCACIÓ INFANTIL de 2n CICLE + CENTRE EDUCACIÓ PRIMÀRIA</h5>
                <p>Càlcul aproximat de la despesa en obra, tècnics i llicències per a la rehabilitació d'una part del Bloc Onze per a incloure<br>l'activitat de centre d'educació infantil de segon cicle + centre d'educació primària (1a FASE) + centre d'edudació<br>secundària
                    (2a FASE).<br>El pressupost d'execució de l'obra s'ha calculat en base als barems d'honoraris del Col·legi Oficial d'Arquitectes de<br>Catalunya i és una aproximació en funció de la tipologia de l'edificació a rehabilitar i de la magnitud
                    de les intervencions<br>que es proposen.</p>
            </div>
            <div class="col-md-6 col-md-offset-1">
                <div class="barchart barchart-2" data-value="85">
                    <div class="barchart__description">
                        <span class="h6">Superfície d'escola:&nbsp;1070 M2</span>
                    </div>
                    <div class="barchart__bar">
                        <div class="barchart__progress"></div>
                    </div>
                </div>

                <div class="barchart barchart-2" data-value="70">
                    <div class="barchart__description">
                        <span class="h6">Superfície de pati: 900 m2</span>
                    </div>
                    <div class="barchart__bar">
                        <div class="barchart__progress"></div>
                    </div>
                </div>

                <div class="barchart barchart-2" data-value="50">
                    <div class="barchart__description">
                        <span class="h6">Número d'alumnes: 135</span>
                    </div>
                    <div class="barchart__bar">
                        <div class="barchart__progress"></div>
                    </div>
                </div>

                <div class="barchart barchart-2" data-value="35">
                    <div class="barchart__description">
                        <span class="h6">DESPESES PREVISTES 824.425,47 €</span>
                    </div>
                    <div class="barchart__bar">
                        <div class="barchart__progress"></div>
                    </div>
                </div>

            </div>
        </div>

    </div>

</section>
<section class="imagebg section--even stats-1 parallax" data-overlay="7">
    <div class="background-image-holder">
        <img alt="image" src="img/photos/nave.jpg">
    </div>
    <div class="row wide-grid">
        <div class="col-sm-3 col-xs-6">
            <div class="feature feature-1 text-center">
                <i class="icon icon-Building icon--lg"></i>
                <h3>1070 M2</h3>
                <span>
		                                <em>SUPERFÍCIE D'ESCOLA</em>
		                            </span>
            </div>
        </div>
        <div class="col-sm-3 col-xs-6">
            <div class="feature feature-1 text-center">
                <i class="icon icon-Arrow-Outside icon--lg"></i>
                <h3>900 M2</h3>
                <span>
		                                <em>SUPERFÍCIE DE PATI</em>
		                            </span>
            </div>
        </div>
        <div class="col-sm-3 col-xs-6">
            <div class="feature feature-1 text-center">
                <i class="icon icon-Business-Mens icon--lg"></i>
                <h3>135</h3>
                <span>
		                                <em>NÚMERO D'ALUMNES: 135</em>
		                            </span>
            </div>
        </div>
        <div class="col-sm-3 col-xs-6">
            <div class="feature feature-1 text-center">
                <i class="icon icon-Euro-Sign icon--lg"></i>
                <h3>824.425,47 €</h3>
                <span>
		                                <em>COST PREVIST</em>
		                            </span>
            </div>
        </div>
    </div>

</section>

<section class="bg--primary-1 space--sm cta cta-5">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h4>T'interessa el projecte tècnic i vols tenir més informació?</h4>
                <a class="btn btn--sm" href="page-contact-form-simple.html">
                    <span class="btn__text">
		                                    DESCARREGA EL PDF</span>
                </a>
            </div>
        </div>

    </div>

</section>
