---
layout: default
---
<div class="main-container lila">
{% include header.html %}
  <section>
		  <div class="container">
		      <div class="row">
		          <div class="col-sm-12">
		              <div class="elements--title">
		                  <h4>RASGOS  DE INNOVACIÓN  PEDAGÓGICA  Y  SOCIAL</h4>
		              </div>
		          </div>
                {% include feature-side-icon.html %}
		      </div>
		  </div>
	</section>








<section class="bg--secondary imageblock features features-1">
		                <div class="imageblock__content col-md-5 col-sm-3 pos-left">
		                    <div class="background-image-holder">
		                        <img alt="image" src="/assets/img/psicomotricidad.jpg">
		                    </div>
		                </div>
		                <div class="container">
		                    <div class="row">
		                        <div class="col-md-6 col-md-push-6 col-sm-8 col-sm-push-4">
		                            <h3>Pilars teòrics</h3>
		                            <p class="lead">Els nostres principis pedagògics tenen el seu origen en el naixement de l’Escola Nova i els projectes educatius populars dels assajos utòpics a finals del segle XIX.&nbsp;</p>
		                            <hr>
                                {% include feature-avatar.html %}

		                        </div>
		                    </div>

		                </div>

		            </section>
</div>
